@model ExpeditionGo.DataModel.BlogModel


<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
<div class="tm-main-content" id="top">
    <div class="tm-top-bar-bg"></div>
    <div class="tm-top-bar" id="tm-top-bar">
        <div class="container">
            <div class="row">

                <nav class="navbar navbar-expand-lg narbar-light">
                    <a class="navbar-brand mr-auto" asp-controller="Home" asp-action="HomeIndex">
                        <img src="~/img/logo.png">
                        ExpeditionGo
                    </a>

                </nav>
            </div>
        </div>
    </div>

    <div style=" font-family: " Poppins", sans-serif !important;">
        <section class="p-5 tm-container-outer tm-bg-gray" style=" max-width: 100%;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 mx-auto tm-about-text-wrap text-center">
                        <h2 class="text-uppercase mb-4"> Add Your <strong>Blog</strong> </h2>
                    </div>
                </div>
            </div>
        </section>
        <br /><br />
        <div class="container ">
            <form asp-action="AddBlogLeft" method="post" id="addBlogLeft">
                <div class="row">
                    <div class="col-25">
                        <label asp-for="BlogLeftHeading">Blog Tilte</label>
                    </div>
                    <div class="col-75">
                        <input type="text" asp-for="BlogLeftHeading" placeholder="Enter your Tilte " required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label asp-for="BlogLeftCity">Blog City</label>
                    </div>
                    <div class="col-75">
                        <input type="text" asp-for="BlogLeftCity" placeholder="Enter City " required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label asp-for="BlogLeftCountry">Blog Country</label>
                    </div>
                    <div class="col-75">
                        <input type="text" asp-for="BlogLeftCountry" placeholder="Enter Country " required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label asp-for="BlogLeftDescription">Blog Description</label>
                    </div>
                    <div class="col-75">
                        <textarea type="text" asp-for="BlogLeftDescription" placeholder="Write something.." style="height:200px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label asp-for="BlogLeftContent">Blog Content</label>
                    </div>
                    <div class="col-75">
                        <textarea type="text" asp-for="BlogLeftContent" placeholder="Write something.." style="height:200px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label asp-for="BlogLeftSubContent">Blog SubContent</label>
                    </div>
                    <div class="col-75">
                        <textarea type="text" asp-for="BlogLeftSubContent" placeholder="Write something.." style="height:200px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label asp-for="ImageURLOne">First Image URL </label>
                    </div>
                    <div class="col-75">
                        <input type="text" asp-for="ImageURLOne" placeholder="Enter First URL " required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label asp-for="ImageURLTwo">Second Image URL </label>
                    </div>
                    <div class="col-75">
                        <input type="text" asp-for="ImageURLTwo" placeholder="Enter Second URL " required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label asp-for="ImageURLThree">Third Image URL </label>
                    </div>
                    <div class="col-75">
                        <input type="text" asp-for="ImageURLThree" placeholder="Enter Third URL " required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label asp-for="BlogSide">Blog Side</label>
                    </div>
                    <div class="col-75">
                        <input type="text" asp-for="BlogSide" placeholder="Enter Blog Side Left / Right " required>
                    </div>
                </div>

                <div>
                    <button type="submit" id="submitPostBtn" class="text-uppercase btn-primary tm-btn " style=" margin: 5% 50%; ">
                        <span>
                            Submit
                        </span>
                    </button>
                </div>
                <input asp-for="BlogLeftId" type="hidden" />
            </form>
        </div>
    </div>




    <footer class="tm-container-outer">
        <p class="mb-0">
            Copyright © <span class="tm-current-year">2021</span> ExpeditionGo
        </p>
    </footer>
</div>
