@{
    ViewData["Title"] = "Home Page";
}


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/css/mainTemp.css" />



<div class="body-ma">
    <div class="cont">
        <div class="coch1">
            <h2>Welcome To <h2><h1><strong>ExpeditionGo...!!</strong></h1>
                <br />
                <p>
                    Travel isn’t always pretty. It isn’t always comfortable. Sometimes it hurts, it even
                    breaks your heart. But that’s okay. The journey changes you; it should change you.
                    It leaves marks on your memory, on your consciousness, on your heart, and on your
                    body. You take something with you. Hopefully, you leave something good behind.
                </p>
            <partial name="_LoginPartial" />
        </div>
    </div>
</div>
